# Python
venv/
**/__pycache__/
*.pyc
*.egg-info/
dist/
build/
.env
**/.env

# Test & Coverage
coverage.xml
test-results.xml
junit-results.xml
.pytest_cache/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.*.backup
tfplan

# Docker
trivy-report.txt

# SonarQube
.sonar/

# Misc
.DS_Store
*.log
minikube-linux-amd64
